<!DOCTYPE html>
<html>
<head>
    <title>PhotoBooth.JS</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:700,100' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <!-- build:process -->
    <link rel="stylesheet" href="assets/css/bundle.css?version=<%= version %>"/>
    <script type="text/javascript" src="assets/js/bundle.js?version=<%= version %>"></script>
    <!-- /build -->
</head>

<body>


<div id="main" style="top:0; left: 0; bottom: 0; right: 0; position: fixed">
    <div class="logo">
        <span class="first">Photobooth.</span><span class="last">JS</span>
    </div>
    <div id="content">

    </div>
</div>

<a href="https://github.com/orangecoding" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;"
                                                               src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67"
                                                               alt="Fork me on GitHub"
                                                               data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>

<footer>
    <div class="footer_lbl_left">
        <a href="http://www.orange-coding.net" target="_blank">Head on to <i>http://<b>orange-coding</b>.net</i></a> <a
            href="http://www.twitter.com/orangecoding" target="_blank">or follow me on Twitter <span class="twitter">OrangeCoding</span></a>
    </div>
</footer>

</body>
</html>