{{!-- Animation will be shown if user clicks on start and photobooth is waiting for cam authorisation --}}
<div class="animation">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="cam_hint">
    ...Awaiting authorization...
</div>