<div id="overlay">
     <div>
          <p>
              Your browser is not supported. <br>Please use Chrome or Firefox<br>
              <a href="https://www.mozilla.org/en-US/firefox/desktop/" target="_blank"><img src="../assets/img/firefox.png"/></a> <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="../assets/img/chrome.png"/></a>
          </p>
     </div>
</div>