<div>
    <div class="mainContent">
        <div id="mainVideo" class="mainVideo" width="640" height="480">
            <canvas width='640px' height='480px' class='mainVideo' id="mainCanvas"></canvas>
        </div>
        <div class="controllDiv">
            <button value="Effekte" id="effectToggle" class="effectToggle">Effects</button>
            <button value="Snapshot" id="snapShot" class="snapShotButton"><i class="fa fa-camera fa-2x"></i></button>
        </div>
    </div>
</div>

<div id="snapshotCounter" class="snapShotCounter"></div>